.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/src/assets/Logo.svg);
    background-size: cover;
}

.btnCart {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: rgb(206, 206, 206);
  cursor: pointer;
  margin-right: 10px;
}
.btnCart:hover{
  background-color: #b7b7b7;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  .btn:hover{
    background-color: #333;
  }